In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
data = pd.read_csv("compiled.csv", encoding='utf-8')

In [32]:
data.head()

,Unnamed: 0,load,pressure,cloud_cov,humid,temp,wind_dir,wind_sp,pressure_f,cloud_cov_f,...,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23
0,0,1.031472e+06,1012.48000,2.125,79.333333,16.764386,285.25,6.25375,1011.0,3.0,...,0,0,0,0,0,0,0,0,0,0
1,1,1.007206e+06,1011.61875,0.000,82.166667,15.729386,285.00,9.20500,1011.0,4.0,...,0,0,0,0,0,0,0,0,0,0
2,2,9.861084e+05,1010.72000,2.125,81.666667,15.816886,316.00,11.28375,1011.0,4.0,...,0,0,0,0,0,0,0,0,0,0
3,3,9.707610e+05,1011.37625,17.125,82.250000,15.919386,327.00,7.16875,1011.0,4.0,...,0,0,0,0,0,0,0,0,0,0
4,4,9.622584e+05,1011.50000,18.625,82.333333,15.769386,282.25,0.78000,1011.0,4.0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
data[['hour', 'hour_sin', 'hour_cos', 'month', 'month_sin', 'month_cos', 'date']].head(24)

,hour,hour_sin,hour_cos,month,month_sin,month_cos,date
0,0,0.000000e+00,1.000000e+00,3,1.0,6.123234e-17,18/03/2017
1,1,2.588190e-01,9.659258e-01,3,1.0,6.123234e-17,18/03/2017
2,2,5.000000e-01,8.660254e-01,3,1.0,6.123234e-17,18/03/2017
3,3,7.071068e-01,7.071068e-01,3,1.0,6.123234e-17,18/03/2017
4,4,8.660254e-01,5.000000e-01,3,1.0,6.123234e-17,18/03/2017
5,5,9.659258e-01,2.588190e-01,3,1.0,6.123234e-17,18/03/2017
6,6,1.000000e+00,6.123234e-17,3,1.0,6.123234e-17,18/03/2017
7,7,9.659258e-01,-2.588190e-01,3,1.0,6.123234e-17,18/03/2017
8,8,8.660254e-01,-5.000000e-01,3,1.0,6.123234e-17,18/03/2017
9,9,7.071068e-01,-7.071068e-01,3,1.0,6.123234e-17,18/03/2017
10,10,5.000000e-01,-8.660254e-01,3,1.0,6.123234e-17,18/03/2017
11,11,2.588190e-01,-9.659258e-01,3,1.0,6.123234e-17,18/03/2017
12,12,1.224647e-16,-1.000000e+00,3,1.0,6.123234e-17,18/03/2017
13,13,-2.588190e-01,-9.659258e-01,3,1.0,6.123234e-17,18/03/2017
14,14,-5.000000e-01,-8.660254e-01,3,1.0,6.123234e-17,18/03/2017
15,15,-7.071068e-01,-7.071068e-01,3,1.0,6.123234e-17,18/03/2017
16,16,-8.660254e-01,-5.000000e-01,3,1.0,6.123234e-17,18/03/2017
17,17,-9.659258e-01,-2.588190e-01,3,1.0,6.123234e-17,18/03/2017
18,18,-1.000000e+00,-1.836970e-16,3,1.0,6.123234e-17,18/03/2017
19,19,-9.659258e-01,2.588190e-01,3,1.0,6.123234e-17,18/03/2017
20,20,-8.660254e-01,5.000000e-01,3,1.0,6.123234e-17,18/03/2017
21,21,-7.071068e-01,7.071068e-01,3,1.0,6.123234e-17,18/03/2017
22,22,-5.000000e-01,8.660254e-01,3,1.0,6.123234e-17,18/03/2017
23,23,-2.588190e-01,9.659258e-01,3,1.0,6.123234e-17,18/03/2017

In [33]:
def encode(data, col, max_val):
    data[col + '_sin'] = np.sin(2 * np.pi * data[col]/max_val)
    data[col + '_cos'] = np.cos(2 * np.pi * data[col]/max_val)
    return data

In [ ]:
encode(data, 'hour', 24)
encode(data, 'month', 12)
encode(data, 'd ay', 31)

In [39]:
filename = r"compiled2.csv"
data.to_csv(filename, encoding='utf-8', index=False, header=True)